<div class="box">
  <h2>Nuevo / Editar Cliente</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>Nombre*</label>
    <input formControlName="nombre">
    <label>Email</label>
    <input formControlName="email" type="email">
    <label>Teléfono</label>
    <input formControlName="telefono">
    <label>Dirección</label>
    <input formControlName="direccion">
    <label>CUIT</label>
    <input formControlName="cuit">
    <button [disabled]="saving || form.invalid">Guardar</button>
  </form>
</div>
