<div class="auth-layout">
  <div class="auth-card card-appear">
<img src="/logoInventario.png" alt="Logo Inventario" class="app-logo" />

    <h2 class="h1">Ingresar</h2>
    <p class="subtitle">Innovación que impulsa tu inventario</p>

    <form [formGroup]="form" (ngSubmit)="login()" novalidate>
      <div style="margin-bottom:12px;">
        <input id="email" type="email" class="input" formControlName="email" placeholder="Ingrese su cuenta o usuario" />
      </div>

      <div style="margin-bottom:16px;">
        <input id="password" type="password" class="input" formControlName="password" placeholder="Ingrese su contraseña" />
      </div>

      <button class="btn-primary" type="submit" [disabled]="loading">
        {{ loading ? 'Ingresando…' : 'Ingresar' }}
      </button>

      <p class="auth-footer register">
        ¿No tenés cuenta?
        <a class="auth-link" [routerLink]="['/register']">Crear cuenta</a>
      </p>
    </form>
  </div>
</div>
