
<nav class="navbar navbar-expand-lg navbar-dark nav-main shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">Sistema de Gestión de Inventario</a>
    <div class="d-flex align-items-center gap-2">
      <a routerLink="/productos" class="btn btn-outline-light btn-sm">Productos</a>
      <a *ngIf="auth.isAdmin() || auth.isEmpleado()" routerLink="/clientes" class="btn btn-outline-light btn-sm">Clientes</a>
      <a *ngIf="auth.isAdmin() || auth.isEmpleado()" routerLink="/presupuestos" class="btn btn-outline-light btn-sm">Presupuestos</a>
      <a *ngIf="auth.isAdmin()" href="http://127.0.0.1:8000/api/documentation" target="_blank" class="btn btn-outline-light btn-sm">📘 API Docs</a>
      <button *ngIf="auth.isLoggedIn()" (click)="auth.logout()" class="btn btn-danger btn-sm">Salir</button>
    </div>
  </div>
</nav>
